<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
         {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/case-studies' | prepend: site.baseurl }}">Case Studies</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/data' | prepend: site.baseurl }}">Data & Analysis</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/policy' | prepend: site.baseurl }}">Policy Options</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/conclusion' | prepend: site.baseurl }}">Conclusion</a>
      <a class="sidebar-nav-item {% if page.url == node.url %} active{% endif %}" href="{{ '/about' | prepend: site.baseurl }}">About</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
      <span class="sidebar-nav-item">v{{ site.version }}</span>
    </nav>
    <p>&copy; {{ site.time | date: '%Y' }} Chloe Hendry. All rights reserved.</p>
  </div>
</div>
